@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Varela+Round&display=swap");
/* font-family: 'Nunito', sans-serif;
font-family: 'Varela Round', sans-serif; */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: antiquewhite;
  font-family: "Varela Round", sans-serif;
}
nav {
  font-family: "Nunito", sans-serif;
}
nav ul {
  padding: 5px 5%;
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: black;
  color: aliceblue;
}
nav ul li {
  padding: 0 20px 0 0;
}
.brand {
  display: flex;
  align-items: center;
  margin: 0 30px 0 0;
}
.brand h1 {
  color: rgb(127, 255, 148);
  font-size: 1.7rem;
}
.brand img {
  width: 45px;
  margin: 0 10px 0 0;
}
.container {
  min-height: 70vh;
}

.player {
  position: static;
  bottom: 0;
  height: 100px;
  background-color: black;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#progressBar {
  width: 80vw;
}
.icons {
  display: flex;
  align-items: center;
}
