@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Varela+Round&display=swap");
/* font-family: 'Nunito', sans-serif;
font-family: 'Varela Round', sans-serif; */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: antiquewhite;
  font-family: "Varela Round", sans-serif;
}
nav {
  font-family: "Nunito", sans-serif;
  position: sticky;
  top: 0;
}
nav ul {
  padding: 5px 10%;
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 50px;
  background-color: rgb(20, 20, 20);
  color: aliceblue;
}
nav ul li {
  font-size: 13px;
  padding: 0 20px 0 0;
}
.brand {
  color: #1ed760;
  display: flex;
  align-items: center;
  margin-right: 25px;
}
.brand h1 {
  font-size: 1.4rem;
}
.brand i {
  margin-right: 12px;
}

.container {
  height: 100vh;
  background-color: black;
  color: aliceblue;
  display: flex;
  flex-direction: column;
}
.bannar {
  padding: 20px 15vw;
  display: flex;
  align-items: center;
  background-color: rgb(10, 10, 10);
  font-family: "Nunito", sans-serif;
}
.bannar img {
  width: 15%;
  margin-right: 3%;
}
.bannar h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.bannar p {
  margin-top: 10px;
  font-size: 14px;
}
.songList {
  width: 80%;
  margin: 0 auto;
}
.songItemTitle {
  margin: 10px 0;
  padding: 10px 0 10px 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(20, 20, 20);
}
.songItem {
  margin-top: 5px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.songItem:hover {
  background-color: rgb(30, 30, 30);
}
.songItem img,
.songItemTitle Img {
  width: 40px;
  margin: 5px 20px;
  border-radius: 50%;
}
.songNo {
  text-align: center;
  width: 2vw;
}
.songTitle {
  width: 30vw;
}
.songArtist {
  width: 20vw;
}
.songAlbum {
  width: 15vw;
}
.songTime {
  width: 10vw;
  text-align: center;
}
.songPlay {
  width: 10vw;
  text-align: center;
}
.songPlay i {
  cursor: pointer;
  color: #1ed760;
}

.player {
  position: sticky;
  bottom: 0px;
  background-color: rgb(20, 20, 20);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.playing {
  position: absolute;
  left: 3%;
  display: flex;
  align-items: center;
}
.playing img {
  height: 65px;
  border-radius: 50%;
  margin-right: 20px;
}
.playingInfo {
  display: flex;
  flex-direction: column;
}
.playingTitle {
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 5px;
}
.playingArtist {
  font-size: 12px;
}

#progressBar {
  margin-top: 20px;
  width: 50vw;
  height: 4px;
  cursor: pointer;
}
.icons {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.media {
  display: flex;
  align-items: center;
  margin: 0 5vw;
}
.icons i {
  margin: 0 2vw;
  cursor: pointer;
}
